<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <title>SearchResults</title>
        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='main.css') }}">

    </head>

    <body>

        <header>U.S. Causes of Death</header>

        <h2>

        <section>

            <h1> Search Results: </h1>
            <br>

            <table id="search_results" border=1>
                <tr>
                    <th>Year</th>
                    <th>Number of Deaths</th>
                </tr>
            </table>

        </section>

        <aside>
            <h1> More information: </h1>

            <a href="https://www.cdc.gov/aging/aginginfo/alzheimers.htm">Alzheimer's </a>
            <br>
            <a href="https://www.cdc.gov/flu/index.htm">Influenza </a>
            <br>
            <a href="https://www.nimh.nih.gov/health/publications/suicide-faq/index.shtml"> Suicide </a>
            <br>
            <a href="https://www.cdc.gov/diabetes/home/index.html"> Diabetes </a>
            <br>
            <a href="https://www.verywellhealth.com/what-is-chronic-lower-respiratory-disease-2224212"> Chronic lower respiratory diseases </a>
            <br>
            <a href="https://www.aans.org/en/Patients/Neurosurgical-Conditions-and-Treatments/Cerebrovascular-Disease"> Cerebrovascular Diseases </a>
            <br>
            <a href="https://www.cdc.gov/genomics/resources/diseases/heart.htm"> Diseases of Heart </a>
            <br>
            <a href="https://kidshealth.org/Nemours/en/parents/az-neoplasm-malignant.html"> Malignant Neoplasms </a>
        </aside>

    </body>
</html>
